<style>
      .okno {
        width: 400px;
        height: 50px;
        text-align: center;
        padding: 15px;
        border: 3px solid #000000;
        border-radius: 15px;
        color: #000000;
        position:absolute;
        top:50%;
        left:50%;
        margin:-200px 0 0 -200px;
      }
</style>
