body {
    background: #000 url(/image/1.jpg); /* Фоновый цвет и фоновый рисунок*/
		color: #ffffff; /*Цвет текста на странице*/
		background-attachment: fixed; /* Фон страницы фиксируется */
		background-repeat: repeat-x; /* Изображение повторяется по горизонтали */
    background-repeat: repeat-y;
    background-size: 100%;
}
.okno {
  margin-left: 16%;
  text-align: center;
  width:18%;
  border: 3px solid #000000;
  position:absolute;
  padding: 1px;
  background:#000080;
  opacity: 0.7;
  font: 1em Arial, sans-serif;
}
.okno0 {
  margin-left: 5%;
  text-align: center;
  width:40%;
  border: 3px solid #000000;

  padding: 1px;
  background:#000080;
  opacity: 0.7;
  font: 1em Arial, sans-serif;
}
.okno1 {
  margin-top:1%;
  margin-left: 5%;
  font: 1em Arial, sans-serif;
}
.okno3 {
  margin-top:5%;
  width: 90%;
}
.okno2 {
  margin-left: 5%; /* Отступ слева */
  width:90%; /* Отступ справа */
  margin-top: 1%;
  font: 1em Arial, sans-serif;
  padding: 1px;
}
.okno4 {
 margin-left: 8%; /* Отступ слева */
 width: 90%; /* Отступ справа */
 margin-top: 1%;
 text-align: center;
 color: #000000;
 border: 3px solid #000000;
 background: #FFFFFF; /* Цвет фона */
 padding: 1px; /* Поля вокруг текста */
}
.okno41 {
 margin-left: 25%; /* Отступ слева */
 width: 55%; /* Отступ справа */
 margin-top: 1%;
 text-align: center;
 color: #000000;
 border: 3px solid #000000;
 background: #FFFFFF; /* Цвет фона */
 padding: 1px; /* Поля вокруг текста */
}
.okno5 {
  overflow: auto;
 margin-left: 5%; /* Отступ слева */
  /* Отступ справа */
 margin-top: 8%;
 width: 90%;
 height: 460px;
 text-align: left;
 color: #000000;
 border: 3px solid #000000;
 background: #FFFFFF; /* Цвет фона */
 padding: 1px; /* Поля вокруг текста */
}
.okno6 {
  overflow: auto;
 margin-left: 10%;
margin-top:23%;
 width: 90%;
 height: 460px;
 text-align: left;
 color: #000000;
 border: 3px solid #000000;
 background: #FFFFFF; /* Цвет фона */
 padding: 1px; /* Поля вокруг текста */
}
.okno7 {
  width: 95%; /* Отступ справа */
  margin-top: 1%;
  text-align: center;
  color:#000000;
  background: #FFFFFF;
  padding: 1px;
}
.main {
  width: 99%;
}
.container:after, .row:after {
  content: "";
  display: table;
  clear: both;
}
.col-1-3 {
  width: 33%;
  float: left;
}
.col-1-4 {
  width: 25%;
  float: left;
}
.col-1-2 {
  width: 50%;
  float: left;
}
.okno8 {
  margin-left: 7%;
  text-align: center;
  width:18%;
  border: 3px solid #000000;
  position:absolute;
  padding: 1px;
  background:#000080;
  opacity: 0.7;
  font: 1em Arial, sans-serif;
}
